.recipe-image img {
  width: 150px !important;
  height: 110px !important;
}

.recipe-item {
  cursor: pointer;
  transition: all 0.1s ease-out;
  opacity: 0.8;
}

.recipe-item:hover {
  transform: scale(1.05);
  opacity: 1;
}
