<div class="row no-gutters">
  <div class="col-sm-12">
    <div class="card mt-5 bg-light p-4">
      <div class="card-body">
        <h3 class="text-center">Recipe Details</h3>
        <hr />
        <h4>{{ (recipe$ | async)!["recipe"].title }}</h4>
        <p>{{ (recipe$ | async)!["recipe"].description }}</p>
        <div class="recipe-image mb-2">
          <img
            [src]="(recipe$ | async)!['recipe'].imageUrl"
            alt=""
            class="img-fluid"
          />
        </div>
        <br />
        <h4 class="my-2">Ingredients :</h4>
        <ul
          class="list-group mt-2"
          *ngIf="(recipe$ | async)!['recipe']!.ingredients as ing"
        >
          <li class="list-group-item" *ngFor="let i of ing">
            Name:
            <span class="badge text-bg-warning ms-2 me-3">{{ i.name }}</span>
            Quantity:
            <span class="badge text-bg-warning ms-2">{{ i.amount }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
